
.target-animation-wobble[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.target-animation-bussyfade[bussyfade='1'] {
  display: block;
  animation: bussyfade 1s 1;
}

@keyframes bussyfade {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  20% {
    opacity: 0.3;
    transform: translateX(20%);
  }
  30% {
    opacity: 0.3;
    transform: translateX(12%);
  }
  40% {
    opacity: 0.3;
    transform: translateX(8%);
  }
  50% {
    opacity: 0.3;
    transform: translateX(5%);
  }
  75% {
    opacity: 0.5;
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}