
.target-animation-wobble[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.target-animation-bussyfade[bussyfade='1'] {
  
  animation: bussyfade 1.5s 1;
}

@keyframes bussyfade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
    
  }
  40% {
    opacity: 0.3;
    
  }
  50% {
    opacity: 0.5;
    
  }
  75% {
    opacity: 0.7;
    
  }
  100% {
    opacity: 1;
    
  }

}