:root{
  --mainclr: #382E1D;
  --manclrlgt: #804A00;
  --secondaryclr: #E6BE8A;
  --textclr: #F5F5F5;
  --mainclr2: #382E1D;
  --mainclr3: #604D2D;
  --mainclr4: #8B6D4C;
  --mainclr4: #6C6464;
  
}

header{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainclr2);
  color: var(--textclr);
  width: 100vw;
  margin-bottom: 80px;
}

header a {
  margin: 0 1rem;
  color: var(--textclr);
  text-decoration: none;
}
nav a:hover {
  color: var(--secondaryclr);
}

header .nav-btn{
  padding: 5;
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden;
  opacity: 0;
}
header button .custom-icon{
  color: var(--secondaryclr);
  font-size: 1.5rem;
}

header nav .navlinks
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 1rem;

  }

 header nav .navlinks .navlinks-right {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}
header nav .navlinks .navlinks-left a:last-child {
  margin-right: 6rem;
}

@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainclr);
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  header nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  
  header nav .navlinks
   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .navlinks-left a{
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
    }
  }
    header nav .navlinks .navlinks-right
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
   }

}