@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Oswald:wght@200..700&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --mainclr: #382E1D;
  --manclrlgt: #804A00;
  --secondaryclr: #E6BE8A;
  --textclr: #F5F5F5;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: row;
  flex: 1;
  height: 90vh;
  width: 100vw;
  transition: backgound-image 1s ease-in-out;
  overflow: hidden;
  background-color: #e7ac5f45;
  background-blend-mode: soft-light;
}
.slider-wrapper {
  z-index: 1;
  flex-direction: row;
  height: 100%;
  width: 50%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slider-container .slider-wrapper .arrow-button-left-arrow,
.slider-container .slider-wrapper .arrow-button-right-arrow {
  z-index: 4;
  position: absolute;
  padding: 10rem 5rem;
  cursor: pointer;
  border: none;
  opacity: 1;
  background: transparent;
  transition: opacity 1.5s ease-in;
  margin: auto;
  font-size: 5rem;
}
.slider-container .slider-wrapper .arrow-button-left-arrow {
  left: 0px;
}
.slider-container .slider-wrapper .arrow-button-right-arrow {
  right: 0px;
}
.slider-container .slider-wrapper .arrow-button-left-arrow .custom-icon{
  color: var(--secondaryclr);
  transition: color 1s ease;
}
.slider-container .slider-wrapper .arrow-button-left-arrow .custom-icon:hover{
  color: var(--mainclr);
}
.slider-container .slider-wrapper .arrow-button-right-arrow .custom-icon:hover{
  color: var(--mainclr);
  transition: color 1s ease;
}
.slider-container .slider-wrapper .arrow-button-right-arrow .custom-icon {
  color: var(--textclr);  
}


.slider-container .slider-wrapper  .slider-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--mainclr);
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}
.slider-container .slider-wrapper  .slider-item h2 {
  z-index: 3;
  position:absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  font-size: 6rem;
  text-align: center;
  margin-top: 10px;
  text-shadow: 12px 8px 3px #ecddc9e5; 
  padding: 1rem;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 510;
  font-style: normal;
}
.slider-container .slider-wrapper  .slider-item .hero-background-div{
  z-index: -1;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient( hsla(41, 51%, 59%, 0.678) 70%,transparent);
  transform: rotate(-45deg);
  transform-origin: -15% 95%;
}

.slider-container .slider-wrapper  .slider-item p {
  position:absolute;
  z-index: 2;
  top: 100px;
  left: 0px;
  font-style: italic;
  text-align: left;
  font-size: 1.5rem;
  margin-top: 10px;
  text-shadow: 4px 4px 2px #e6be8a8a; 
  padding: 1rem;
  max-width: 70%;
}

.slider-container .slider-wrapper .slider-item .slider-item-button:hover {
  background-color: #e29a56c7;
}


.slider-container .slider-wrapper  .slider-item .slider-item-button {
  z-index: 3;
  display: flex;
  position: absolute;
  bottom: 50px;
  width: 250px;
  height: 60px;
  background-color: var(--textclr);
  transition: background-color 0.5s ease-in-out;
  border: 2px solid var(--mainclr);
  color: #000;
  justify-content: center;
  align-items: center;
}
.slider-container .slider-wrapper  .slider-item .slider-item-button a {
  text-decoration: none;
  color: var(--mainclr);
  font-size: 1.5rem;
}


.slider-container .slider-wrapper .arrow-button:hover {
  opacity: 1;
  background-color: rgba(56, 46, 29, 0.5) ;
}

.non-slider-container {
  display: grid;
  overflow: hidden;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  place-items: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.non-slider-container .card {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  max-height: 60vh;
  width: 45vw;
  overflow: hidden;
  background-blend-mode: screen;
  border-radius: 1rem;
  margin: 0.5rem;
  flex: 1;
}



.non-slider-container .card .card-description {
  margin-top: auto;
  padding: 1rem;
  flex-direction: column;
  background-color: #382E1D;
  width: 100%;
  height: 50%;
  font-weight: 400;
  color: var(--secondaryclr);
}

.non-slider-container .card .card-description .card-button {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--secondaryclr);
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.non-slider-container .card .card-description .card-button a {
  text-decoration: none;
  color: var(--mainclr);
}
.non-slider-container .card {
  background-color: #d31b528a;
  backdrop-filter: blur(10px); 
}

@media only screen and (max-width: 1024px) {
  .slider-container .slider-wrapper .arrow-button-left-arrow .custom-icon { 
    display: none;
  }
  .slider-container .slider-wrapper .arrow-button-right-arrow .custom-icon { 
    z-index: 4;
  }
  .slider-container .slider-wrapper  .slider-item h2{
    font-size: 4rem;
    top: 200px;
    text-shadow: 4px 4px 2px #ecddc9;
    font-weight: 500;
  }
  .slider-container .slider-wrapper .slider-item {
    width: 100vw;
  }
  .slider-container .slider-wrapper  .slider-item p{
    font-size: 1.5rem;
    opacity: 0.6;
  }
  .slider-container .slider-wrapper  .slider-item .slider-item-button{
    background-color: #000;
  }
  .slider-container .slider-wrapper  .slider-item .slider-item-button a{
    color: var(--textclr);
    font-size: 1.4rem;
  }
  .slider-container .slider-wrapper  .slider-item .hero-background-div{
    transform: rotate(-35deg);
    transform-origin: -45% 95%;
  }
  .non-slider-container{
    /* grid in 1024 */
    display: flex; 
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
  }

  .non-slider-container .card{ 
    z-index: 1;
    flex-direction: column;
    width: 90vw;
    min-height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.5rem;
  }
  .non-slider-container .card h2{
    display: flex;
    background-color: hsla(39, 33%, 17%, 0.5);
    color: var(--textclr);
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    
    color: var(--textclr);
    text-align: left;
    margin-top: 20px;
    text-shadow: 4px 4px 2px #e6be8a8a; 
    padding: 1rem;
    max-width: 70vw;
  }
}