*{
  box-sizing: border-box;
}
:root{
  --mainclr: #382E1D;
  --manclrlgt: #804A00;
  --secondaryclr: #E6BE8A;
  --textclr: #F5F5F5;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;   
}
.arrow-button{
  font-size: 5rem;
  color: var(--secondaryclr);
  padding: 5;
  cursor: pointer;
  border: none;
  opacity: .6;
  height: 300px;
  width: 300px;
  background: transparent;  
}